@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --secondary-color: #008000;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/backgroundslide01.jpg");
  background-repeat: no-repeat;
  background-color: #000105;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container-table {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 740px;
   margin: 50px auto;
   background: #fff;
   padding-bottom: 30px;
   border-radius: 10px;
}

.alignment {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.alignment p {
   padding: 20px;
   text-align: center;
}

.alignment img {
   width: 80%;
   padding: 20px;
}

.title-text {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 30px;
}

.subtitle-text {
   display: flex;
   flex-direction: column;
   margin-bottom: 40px;
}

.subtitle-text p {
   font-weight: 600;
}

.subtitle-text span {
   color: #000;
   font-weight: 400;
   text-decoration: underline;
}

.name-social {
   text-align: center;
}

.table-header {
   font-weight: 700;
}
.table-header td {
   background-color: aquamarine !important;
}
span {
   color: #13051f;
}
td{
   min-width: 50px;
   border: none;
   border-radius: 3px;
   background-color: #eef2ff;
   padding: 3px 10px;
   text-align: center;
}

.resultado {
   font-weight: 300;
   color: #0056b3;
}

 .teste-logica {
   width: 400px;
 }

.container-fluid {
   display: flex;
   flex-direction: row;
   width: 750px;
   margin: 0 auto;
}
.darkblue_gradient {
   background-image: linear-gradient(-45deg, #13051f, #233671);
}
.logo img {
   width: 200px;
   padding: 20px;
}
.logo-blue {
   width: 150px;
   padding: 20px;
}
