*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resultado {
  display: none;
  margin-top: 10px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso faz com que o contêiner ocupe toda a altura da janela de visualização */
}