@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --secondary-color: #008000;
  --terciary-color: #02A698;
  --quaternary-color: #FF0000;
  --quinary-color: #FFA500;
  --senary-color: #FFFF00;
  --septenary-color: #0000FF;
  --octonary-color: #4B0082;
  --nonary-color: #9400D3;
  --denary-color: #FF1493;
  --elevenary-color: #FF69B4;
  --dozenary-color: #FFC0CB;
  --trezenary-color: #FFD700;
  --fourteenary-color: #F5F5F5;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
.promocao {
   color: var(--terciary-color);
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#output > div {
  margin: 30px 10px;
  padding: 20px;
  border-radius: 10px;
  background: var(--fourteenary-color);
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #d3d3d3;
}

form input:focus {
  outline: 2px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 50px;
}

form button:hover {
  background: var(--primary-color-darker);
}

form button:active {
   background: var(--secondary-color);
 }
 .d-flex {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
 .flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }