@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.card__content {
  height: 70vh;
}

img {
  width: 100px;
  height: auto;
}

.align-itens {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 50vh; */
}